:root {
    font-family: Wavehaus, SemiBold;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #133b51;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
body{
    text-align: center;
    margin:10;
}

nav ul{
    list-style: none;
    display:contents;
    justify-content:space-evenly;
}

nav ul li a{
    color: rgba(255, 255, 255, 0.87);
    font-weight: bold;
}

header{
    text-align: center;
}